@page
@model DemoApplicationWeb_A.Pages.BookListModel
@{
}


<div class="text-center">
    <h1 class="display-4">M-cart</h1>
</div>


<div class="row">
    @foreach (var book in Model.Books)
    {
        <div id="bookContainer" class="col-lg-3 col-md-4 col-sm-1">
            <img id="bookImage" style="width: 100%; height: 100%;" src="@book.image" alt="@book.name" />
            <span id="bookTitle">@book.name</span>
            <span id="bookPrice">Rs. Coming Soon</span>
            <span id="bookQuantity"><input id="quantityInput" type="number" name="bookQuantity" value="" placeholder="0" /></span>
            <span id="bookCartButton"><button id="btn"><span class="fa fa-shopping-cart"></span>Add to Cart</button></span>
        </div>
    }
</div>